tutorials/scatter_gather/src/main/app/scatter_gather.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="PaginaInicial">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/docroot" defaultFile="index.html" doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tratarForm" doc:name="HTTP"/>
        <component class="br.ufsc.das.Tratamento" doc:name="Tratar Pedido"/>
        <enricher doc:name="Message Enricher">
            <scatter-gather doc:name="Scatter-Gather">
                <processor-chain>
                    <component class="br.ufsc.das.TratarPedidoReator" doc:name="Tratamento Pedido Reator"/>
                    <enricher doc:name="Message Enricher">
                        <processor-chain doc:name="Processor Chain">
                            <component class="br.ufsc.das.SimulacaoInvocacaoStarkSystem" doc:name="Simular WS StarkSystem"/>
                        </processor-chain>
                        <enrich source="#[payload.total]" target="#[payload.total]"/>
                        <enrich source="#[payload.codigo]" target="#[payload.codigo]"/>
                    </enricher>
                </processor-chain>
                <processor-chain>
                    <component class="br.ufsc.das.TratarPedidoRobo" doc:name="Tratamento Pedido Robo"/>
                    <enricher doc:name="Message Enricher">
                        <processor-chain doc:name="Processor Chain">
                            <component class="br.ufsc.das.SimulacaoInvocacaoBrRobotics" doc:name="Simular WS BrRobotics"/>
                        </processor-chain>
                        <enrich source="#[payload.total]" target="#[payload.total]"/>
                        <enrich source="#[payload.codigo]" target="#[payload.codigo]"/>
                    </enricher>
                </processor-chain>
            </scatter-gather>
            <enrich source="#[payload]" target="#[payload.pecas]"/>
        </enricher>
        <response>
            <object-to-string-transformer encoding="ISO-8859-1" mimeType="text/plain" doc:name="Object to String"/>
        </response>
        <component class="br.ufsc.das.TratarResultadoPedido" doc:name="Tratar Resultado"/>
    </flow>
</mule>
