tutorials/ws_cep/src/main/app/ws_cep.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="ConfiguracaoWebServicesUFSC" protocol="HTTPS" host="ws.homologacao.ufsc.br" port="443" doc:name="HTTP Request Configuration"/>
    <flow name="ws_cep">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <http:static-resource-handler resourceBase="${app.home}/docroot" defaultFile="index.html" doc:name="HTTP Static Resource Handler"/>
    </flow>
    <flow name="ws_cep/tratarForm">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tratarForm" doc:name="HTTP"/>
        <component class="br.ufsc.das.Tratamento" doc:name="Java"/>
        <http:request config-ref="ConfiguracaoWebServicesUFSC" path="/CEPService/cepInfo" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="cep" value="#[payload.cep]"/>
            </http:request-builder>
        </http:request>
        <object-to-string-transformer mimeType="text/plain" doc:name="Object to String"/>
    </flow>
</mule>
