tutorials/choice_db/src/main/app/choice_db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="password" database="NewTec" doc:name="MySQL Configuration"/>
    <flow name="choice_db">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-variable variableName="database" value="#[message.inboundProperties.'http.query.params'.['database']]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.database == 'db1']">
                <db:select config-ref="MySQL_Configuration" doc:name="DB_1">
                    <db:dynamic-query><![CDATA[SELECT * FROM PEDIDOS;]]></db:dynamic-query>
                </db:select>
                <json:object-to-json-transformer mimeType="text/json" doc:name="Object to JSON"/>
            </when>
            <when expression="#[flowVars.database == 'db2']">
                <db:select config-ref="MySQL_Configuration" doc:name="DB_2">
                    <db:dynamic-query><![CDATA[SELECT * FROM PEDIDOS;]]></db:dynamic-query>
                </db:select>
                <json:object-to-json-transformer mimeType="text/json" doc:name="Object to JSON"/>
            </when>
            <otherwise>
                <set-payload value="You must choose a database! (db1 or db2)" doc:name="No Choice"/>
            </otherwise>
        </choice>
        <logger message="Typed #[flowVars.database] and returned: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
